name: jest
on:
  [push, workflow_dispatch]
jobs:
  jest:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: install dependencies
        run: |
          npm install
      - name: run tests
        run: |
          npm test
  success:
    runs-on: ubuntu-latest
    needs: jest
    steps:
      - name: Show success message
        run: echo "success!"
